<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <%= link_to "Navber", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <!--adminのログインしているかつURLが/adminのとき-->
      <% if admin_signed_in? %>
        <% if request.fullpath.include? "/admin" %>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        <% end %>
      <!--userがログインしているかつURLが/adminではないとき-->
      <% elsif user_signed_in? %>
        <% unless request.fullpath.include? "/admin" %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              メニュー
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ（現在のパスはabout_path）", about_path, class: "dropdown-item" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              <li><%= link_to "未定（現在のパスはabout_path）", about_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        <% end %>
      <% else %>
      <!--userがログインしていないかつURLが/adminではないとき-->
        <% unless request.fullpath.include? "/admin" %>
          <li class="nav-item">
           <!--userのログイン前-->
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        <% else %>
          <!--adminログイン前-->
          <li class="nav-item">
            <%= link_to "ログイン", new_admin_session_path, class: "nav-link" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>